.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title-container{
    display: block;
    margin-bottom: 25px;
  }

  .title {
    display: inline;
    font-size: 28px;
    cursor: pointer;
  }

  .title:hover{
    opacity: 0.6;
  }

  .preview {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 500px){
      flex-direction: column;
    }
  }
}
